<%- include('partials/header') %>

		<section id="contentsInner"><!-- InstanceBeginEditable name="contents" -->
			<h3><%= title %></h3>
  
			<div id="block">
				<div id="blockInner">
					<table cellpadding="0" cellspacing="0" border="0" class="src_tbl">
						<tr>
							<td>施設・診療科：
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">施設・診療科1</option>
									<option value="2">施設・診療科2</option>
									<option value="3">施設・診療科3</option>
								</select>
							</td>
							<td style="text-align: left;"><input type="submit" name="submit" value=" 選択 " ></td>
						</tr>
						<tr>
							<td>専門分野：
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">専門分野1</option>
									<option value="2">専門分野2</option>
									<option value="3">専門分野3</option>
								</select>
							</td>
							<td>ユーザーID:
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">123456</option>
									<option value="2">789012</option>
									<option value="3">567890</option>
								</select>
							</td>
							<td>アップロード日時：
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">2022年度</option>
									<option value="2">2021年度</option>
									<option value="3">2020年度</option>
								</select>
							</td>
							<td>結果：
								<select required>
									<option value="" hidden>お選びください</option>
									<option value="1">結果1</option>
									<option value="2">結果2</option>
									<option value="3">結果3</option>
								</select>
							</td>
						</tr>
					</table>

					<table cellpadding="0" cellspacing="0" border="0" class="err_tbl">
						<tr>
							<th><p>専門分野</p></th>
							<th><p>ファイル名</p></th>
							<th><p>診療科</p></th>
							<th><p>アップロード</p><p>ユーザーID</p></th>
							<th><p>アップロード</p><p>日時</p></th>
							<th><p>件</p><p>数</p></th>
							<th><p>結果</p></th>
						</tr>
						<% for(var i in content) { %>
						<tr>
							<% var obj = content[i]; %>	
							<td class="senmon"><%= obj.row_no %></td>
							<td class="csv_file_"><%= obj.row_no %></td>
							<td class="shinryoka"><%= obj.row_no %></td>
							<td class="upd_user_no"><%= obj.row_no %></td>
							<td class="upd_datetime"><%= obj.row_no %></td>
							<td class="kensu"><%= obj.row_no %></td>
							<td class="result"><%= obj.row_no %></td>
						</tr>
						<% } %>

						<tr>	
							<td class="senmon">test</td>
							<td class="csv_file_">test</td>
							<td class="shinryoka">test</td>
							<td class="upd_user_no">test</td>
							<td class="upd_datetime">未取込</td>
							<td class="result"><p><a href="../result/errorcheck"><input type="submit" name="submit" value="エラー" /></a></p></td>
							<td class="result"><p><a href="../result/execute"><input type="submit" name="submit" value="仮完了登録" /></a></p></td>
						</tr>
					</table>
				</div>


				<div id="blockFooter">
					<ul>
						<li id="menuBack"><a href="../">メニューへ</a></li>
					</ul>
				</div>
			</div>
		</section>	

<%- include('partials/footer') %>
